{
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "development": {
            "presets": [["env", { "modules": "commonjs" }], "react"]
        },
        "es": {
            "presets": [["env", { "modules": false }], "react"]
        },
        "test": {
            "presets": [["env"], "react"]
        },
        "production": {
            "presets": [["env"], "react"]
        }
    }
}
