{
    "plugins": ["@babel/plugin-proposal-object-rest-spread"],
    "env": {
        "development": {
            "presets": [
                ["@babel/env", { "modules": "commonjs" }],
                "@babel/preset-react"
            ]
        },
        "es": {
            "presets": [
                ["@babel/env", { "modules": false }],
                "@babel/preset-react"
            ]
        },
        "test": {
            "presets": [["@babel/env"], "@babel/preset-react"]
        },
        "production": {
            "presets": [["@babel/env"], "@babel/preset-react"]
        }
    }
}
