{
    "env": {
        "development": {
            "presets": [["env", { "modules": "commonjs" }], "react"],
            "plugins": ["transform-object-rest-spread"]
        },
        "es": {
            "presets": [["env", { "modules": false }], "react"],
            "plugins": ["transform-object-rest-spread"]
        },
        "test": {
            "presets": [["env"], "react"],
            "plugins": ["transform-object-rest-spread"]
        }
    }
}
