$font-family: Hack, monospace;

$font-color-dark: #212121;
$font-color-light: #b1b1b1;
$font-color-accent-dark: #eb7422;
$font-color-accent-light: #f2a83f;

$background-highlight: #ffff00;
$background-hovered: #f9f9f9;

$border-light: #251818;
$border-smooth: #dad7d0;
$border-accent: #eb7422;

$indent: 20px;
